BODY{
	background:black url(img/fond.jpg);
	
	scrollbar-face-color:"#335588";
	scrollbar-track-color:"#5E5E5E";
	scrollbar-arrow-color:"#FFFFFF";
	scrollbar-3dlight-color:"#336666";
	scrollbar-highlight-color:"#FFFFFF";
	scrollbar-shadow-color:"#000000";
	scrollbar-darkshadow-color:"#5E5E5E";}

TD{color:FFFFFF;font:9pt verdana}
TT{color:FFFFFF;font:9pt verdana}
P{color:FFFFFF;font:9pt verdana}
A:LINK{color:#FFFFFF;text-decoration:none;font:9pt verdana}
A:VISITED{color:#FFFFFF; text-decoration:none;font:9pt verdana}
A:ACTIVE{color:#ffffff;text-decoration:none;font:9pt verdana}
A:HOVER{color:#00FF00;text-decoration:none;font:9pt verdana}
#date{background:AAAAAA;color:000000;font:9pt verdana}
#petit{color:FFFFFF;font:9pt verdana}
